@font-face {
	font-family: "Poppins Latin Bold";
	src: url("../assets/fonts/PoppinsLatin-Bold.woff");
}

@font-face {
	font-family: "Poppins Latin SemiBold";
	src: url("../assets/fonts/PoppinsLatin-SemiBold.woff");
}

@font-face {
	font-family: "Poppins Latin Regular";
	src: url("../assets/fonts/PoppinsLatin-Regular.woff");
}

:root {
	--terminalblack: #1f1f1f;
	--naturalwhite: #f5f5f5;
	--keycapgray: #aaaaaa;
	--concretegray: #666666;
	--forestgreen: #879E78;
}

* {
	box-sizing: border-box;
}

/* normalize browser styles */
html, body, h1, h2 {
	margin: 0;
	padding: 0;
	font-weight: unset;
}

body {
	background: var(--terminalblack);
	font-family: "Poppins Latin Regular", sans-serif;
	padding: 1rem;
	height: 100vh;
	height: calc(var(--vh, 1vh) * 100);
	width: 100vw;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

article {
	max-width: 640px;
	display: flex;
	flex-direction: column;
}

h1 {
	color: var(--naturalwhite);
	font-family: "Poppins Latin Bold", sans-serif;
	font-size: 3rem;
	margin: 0 0 2rem 0;
}

h2 {
	color: var(--concretegray);
	font-family: "Poppins Latin SemiBold", sans-serif;
	font-size: 1.125rem;
	margin: 0 0 1rem 0;
}

nav {
	display: flex;
	flex-direction: row;
}

a {
	text-decoration: none;
	color: var(--keycapgray);
	display: flex;
	margin: 0 2rem 0 0;
	align-items: center;
}

a:hover {
	color: var(--forestgreen);
}

svg {
	margin: 0 0.5rem 0 0;
}

@media (min-width: 640px) {
	nav {
		justify-content: center;
	}
}

@media (prefers-color-scheme: light) {
	body { background: var(--naturalwhite) }
	h1 { color: var(--terminalblack) }
	h2 { color: var(--keycapgray) }
	a { color: var(--concretegray) }
}

@media (prefers-color-scheme: dark) {
	body { background: var(--terminalblack) }
	h1 { color: var(--naturalwhite) }
	h2 { color: var(--concretegray) }
	a { color: var(--keycapgray) }
}
