@font-face {
	font-family: "Inter variable";
	font-display: swap;
	src: url("../assets/fonts/Inter.var.woff2");
}

:root {
	--color-black: #202020;
	--color-white: #fbf9f8;
	--color-green: #82c192;
	--color-link: #fab78b;
	--color-vuejs: #40b482;
	--color-tailwindcss: #4cb2b3;
	--color-nodejs: #76af62;
	--color-bandbreitefm: #030f1c;
	--color-github: #24292d;
	--color-email: #9c7765;
	--color-imdsocial: #3188d4;
	--color-xing: #016567;
	--color-selection: #ffc726;
	--size-text: 1.25rem;
}

::selection {
	background: var(--color-selection)
}

body {
	font-family: "Inter variable", sans-serif;
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: center;
}

main {
	max-width: 480px;
	padding: 1rem;
}

h1 {
	font-weight: 900;
	font-size: 4rem;
	line-height: 0.85;
	margin: 2rem 0;
}

p {
	font-size: var(--size-text);
	line-height: 1.5;
}

ul {
	padding: 0 1rem;
	margin: 0;
}

a {
	font-weight: 900;
	font-size: var(--size-text);
	line-height: 1.5;
	color: var(--color-black);
	box-decoration-break: clone;
	padding: 0.25rem;
	margin: 0 -0.25rem;
	transition: all 0.0625s ease-in-out;
}

a:hover {
	background: var(--color-link);
}

a[data-type]:hover {
	color: var(--color-white);
}

li {
	margin: 0.25rem 0;
}

li a {
	font-size: 1rem;
	font-weight: 500;
}

[data-type="vuejs"] {
	color: var(--color-vuejs);
}

[data-type="vuejs"]:hover {
	background: var(--color-vuejs);
}

[data-type="tailwindcss"] {
	color: var(--color-tailwindcss);
}

[data-type="tailwindcss"]:hover {
	background: var(--color-tailwindcss);
}

[data-type="nodejs"] {
	color: var(--color-nodejs);
}

[data-type="nodejs"]:hover {
	background: var(--color-nodejs);
}

[data-type="bandbreitefm"] {
	color: var(--color-bandbreitefm);
}

[data-type="bandbreitefm"]:hover {
	background: var(--color-bandbreitefm);
}

[data-type="github"] {
	color: var(--color-github);
}

[data-type="github"]:hover {
	background: var(--color-github);
}

[data-type="email"] {
	color: var(--color-email);
}

[data-type="email"]:hover {
	background: var(--color-email);
}

[data-type="imdsocial"] {
	color: var(--color-imdsocial);
}

[data-type="imdsocial"]:hover {
	background: var(--color-imdsocial);
}

[data-type="xing"] {
	color: var(--color-xing);
}

[data-type="xing"]:hover {
	background: var(--color-xing);
}
