@font-face {
	font-family: "Inter Black";
	font-display: swap;
	src: url("../assets/fonts/Inter-Black.woff2");
}

@font-face {
	font-family: "Inter Bold";
	font-display: swap;
	src: url("../assets/fonts/Inter-Bold.woff2");
}

@font-face {
	font-family: "Inter Regular";
	font-display: swap;
	src: url("../assets/fonts/Inter-Regular.woff2");
}

:root {
	--black: #202020;
	--white: #EBE7E2;
	font-feature-settings: "liga" 1;
	--line-height: 1.25rem;
}

* {
	box-sizing: border-box;
}

/* normalize browser styles */
html, body, h1, h2 {
	font-weight: unset;
	margin: 0;
	padding: 0;
}

body {
	font-family: "Inter Regular", sans-serif;
	color: var(--black);
	background: var(--white);
	width: 100vw;
	display: flex;
	align-items: flex-start;
	justify-content: flex-start;
}

main {
	display: grid;
	grid-row-gap: 2rem;
	padding: 1rem;
	max-width: 20rem;
}

article {
	display: grid;
	grid-row-gap: 0.5rem;
}

h1, h2 {
	font-family: "Inter Black", sans-serif;
}

h1 {
	font-size: 3.5rem;
	line-height: 4rem;
	word-break: break-word;
}

h2 {
	font-size: 1rem;
	line-height: var(--line-height);
	color: var(--white);
	background: var(--black);
	padding: 0.25rem;
}

nav {
	display: flex;
	flex-direction: column;
}

a {
	line-height: var(--line-height);
	color: var(--black);
	padding: 0.25rem;
	text-decoration-thickness: 0.125rem;
}

a::before {
	content: "->";
}

a:hover {
	color: var(--white);
	background: var(--black);
}

@media (prefers-color-scheme: dark) {
	body {
		color: var(--white);
		background: var(--black);
	}

	h2 {
		color: var(--black);
		background: var(--white);
	}

	a {
		color: var(--white);
	}

	a:hover {
		color: var(--black);
		background: var(--white);
	}
}

@media only screen and (min-width: 640px) {
	body {
		height: 100vh;
		align-items: center;
		justify-content: center;
	}
}
